$primary: #593f3f;
$secondary: #836B6B;
$tertiary: #A69090;
$text-dark: #372E29;
$text-light: #FFFFFF;
$accent-light: #FFFFFF;

$transparent-light-l: rgba(255, 255, 255,.6);
$transparent-light-m: rgba(255, 255, 255,.2);
$transparent-light-s: rgba(255, 255, 255,.01);

$transparent-tertiary: rgba(166, 144, 144,.2);
$transparent-primary:rgba(89, 63, 63, 0.5);

$font-xxs: xx-small;
$font-xs: xx-small;
$font-s: xx-small;
$font-m: medium;
$font-l: large;
$font-xl: x-large;
$font-xxl: xx-large;
$font-xxxl: 2.5rem;

$gap-xs: 0.25rem;
$gap-s: 0.5rem;
$gap-m: 1rem;
$gap-l: 1.5rem;
$gap-xl: 2rem;
$gap-xxl: 3rem;

:export {
    primary:$primary;
    secondary:$secondary;
    tertiary:$tertiary;
    textDark:$text-dark;
    textLight:$text-light;
    accentLight:$accent-light;
    
    transparentLightLarge: $transparent-light-l;
    transparentLightMed: $transparent-light-m;
    transparentLightSmall: $transparent-light-s;
    
    transparentTertiary: $transparent-tertiary;
    transparentPrimary: $transparent-primary;
    
    fontXXS:$font-xxs;
    fontXS:$font-xs;
    fontSmall:$font-s;
    fontMed:$font-m;
    fontLarge:$font-l;
    fontXL:$font-xl;
    fontXXL:$font-xxl;
    fontXXXL:$font-xxxl;
    
    gapXS:$gap-xs;
    gapSmall:$gap-s;
    gapMed:$gap-m;
    gapLarge:$gap-l;
    gapXL:$gap-xl;
    gapXXL:$gap-xxl;
}