@import './styles/_variables.module.scss';

.heroContainer {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  & > section > div:nth-child(1) {
    margin-block: $gap-m;
  }
}

.promoContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
}

@media (min-width: 768px) {
  .heroContainer {
    margin-top: $gap-m;
    max-width: 95%;
    & > section > div:nth-child(1) {
      margin-block: 0;
    }
  }
}