@import './styles/_variables.module.scss';

.heroContainer {
  width: 95%;
  height: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin-top: $gap-xl;
}

.promoContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.text {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
}

.image {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-block: $gap-m;
}

@media (min-width: 768px) {
  .heroContainer {
    flex-flow: row nowrap;
  }
  .image {
    div[datatype="image"] {
      border-radius: 10px;
    }
  }
}