@import './_variables.module.scss';

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    h2 {
        text-align: center;
    }
    ul {
        padding-left: 0;
    }
    li {
        font-size: $font-xl;
    }
    width: 100%;
    color: $text-light;
    background: linear-gradient(180deg, $transparent-tertiary, $transparent-tertiary-lg 10% 90%,  $transparent-tertiary,);
}

.linkContainer {
    width: 100%;
    display: flex;
    margin-block: $gap-m $gap-xl;
    justify-content: center;
}