@import './colors.scss';

.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    background-color: $secondary;
    padding-block: $gap-s;
    color: $text-light;
}

.imgContainer {
    background-color: $tertiary;
    border-radius: 50%;
    width: min(400px,100vw);
    height: min(400px,100vw);
    padding: $gap-m;
    display: flex;
    margin-block: $gap-xl;
    justify-content: center;
    .img {
        height: 100%;
        width: 100%;
        background-image: url("/rachel-reverse-anjali-no-bg.webp");
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
    }
}

.textContainer {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.linkContainer {
    padding-block: $gap-m 0;
}

@media (min-width: 920px) {
    .container {
        flex-direction: row;
        align-items: flex-start;
        gap: $gap-xxl;
        width: 100%;
        height: 420px;
        margin-block: $gap-xl 4rem;
        padding-top: $gap-s;
    }
    .imgContainer {
        min-width: min(440px,100%);
        width: min(440px,100%);
        height: 440px;
        margin-top: calc(-1 * $gap-m);
        padding: $gap-xl;
        margin-left: $gap-m;
    }
    .textContainer {
        width: max(45%, 450px);
        align-items: flex-start;
        h2 {
            width: 100%;
            text-align: left;
        }
    }
    .linkContainer {
        padding-block: $gap-m;
    }
}