@import './styles/_variables.module.scss';

.heroContainer {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.promoContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
}

@media (min-width: 768px) {
  .heroContainer {
    margin-top: $gap-m;
    div[datatype="image"] {
      border-radius: 10px;
      box-shadow: 4px 4px 10px 2px $transparent-primary;
      filter: brightness(1.2)
    }
  }
}