@import './styles/colors.scss';

.heroContainer {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.promoContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
}

@media (min-width: 768px) {
  .heroContainer {
    margin-top: $gap-m;
    max-width: 95%;
  }
}