@import './_variables.module.scss';

.container {
    max-width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    h2 {
        text-align: center;
    }
    ul {
        padding-left: 0;
    }
}

.linkContainer {
    width: 100%;
    display: flex;
    margin-block: $gap-m $gap-xl;
    justify-content: center;
}