$primary: #593F3F;
$secondary: #836B6B;
$tertiary: #A69090;
$text-dark: #372E29;
$text-light: #FFFFFF;
$accent-light: #FFFFFF;

$font-xxs: xx-small;
$font-xs: xx-small;
$font-s: xx-small;
$font-m: medium;
$font-l: large;
$font-xl: x-large;
$font-xxl: xx-large;

$gap-s: 0.5rem;
$gap-m: 1rem;
$gap-l: 1.5rem;
$gap-xl: 2rem;