@import url('https://fonts.googleapis.com/css2?family=Forum&display=swap');
@import './colors.scss';

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Forum', cursive;
  height: 100vh;
}

* {
  box-sizing: border-box;
  font-size: $font-l;
}

main {
  min-width: 100vw;
  min-height: 100vh;
  background-color: $accent-light;
}

h1 {
  font-size: $font-xxl;
}

h2 {
  font-size: $font-xl;
}

button {
  background: none;
  border: none;
}

button:active, button:focus {
  outline: none;
  border: none;
}

a {
  text-decoration: none;
  color: inherit;
}

a:visited {
  color: inherit;
}

footer {
  font-size: $font-s;
}

