@import url('https://fonts.googleapis.com/css2?family=Forum&display=swap');
@import './_variables.module.scss';

* {
  box-sizing: border-box;
  font-size: $font-l;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Forum', cursive;
  min-height: 100vh;
}

#__next {
  height: 100%;
  width: 100vw;
}

main {
  width: 100%;
  height: 100%;
  background-color: $transparent-tertiary;
  display: flex;
  justify-content: center;
  &>div {
    width: 100%;
    height: 100%;
    min-height: 100vh;
    max-width: max(60vw,1000px);
    background-color: $accent-light;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

h1 {
  font-size: $font-xxxl;
}

h2 {
  font-size: $font-xl;
}

h1,h2,h3,h4,h5,h6,p {
  line-height: $gap-l;
}

button {
  background: none;
  border: none;
  cursor: pointer;
  font-family: 'Forum', cursive;
}

button:active, button:focus {
  outline: none;
  border: none;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

a:visited {
  color: inherit;
}

footer {
  font-size: $font-s;
}

p {
  margin-block: $gap-s;
}

.navBtn {
  border: solid $accent-light 1px;
  padding: $gap-xs $gap-s;
  border-radius: 6px;
  width: fit-content;
  text-align: center;
  color: $accent-light;
}

.navBtn:hover {
  background-color: $accent-light;
  transition: .4s;
  color: $primary;
}

