@import './_variables.module.scss';

.container {
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-end;
    color: $text-dark;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
}

.imgContainer {
    grid-column: 1/1;
    grid-row: 1/1;
    width: 100%;
    min-width: 100%;
}

.textContent {
    grid-column: 1/1;
    grid-row: 1/1;
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: center;
}
