@import './_variables.module.scss';

.container {
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-end;
    color: $text-dark;
    height: 100%;
    width: 100%;
}

.imgContent {
    height: 100%;
    width: 100%;
}

.imgContainer {
    display: flex;
    justify-content: center;
    align-items: flex;
    width: 100%;
}

.textContent {
    width: 100%;
    display: flex;
    justify-content: center;
}

@media (min-width: 768px) {
    .container {
        flex-direction: row;
        justify-content: center;
        padding: $gap-l;
        gap: $gap-xl;
    }
    .imgContainer {
        div {
            border-radius: 20px;
        }
    }
}