@import './_variables.module.scss';

.container {
    h1, h2 {
        margin-block: $gap-m;
        text-align: center;
    }
    h2 {
        font-weight: 400;
    }
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: $gap-xl 0;
    background: linear-gradient(180deg, 
    $transparent-light-s,
    $transparent-light-l 30% 50%,
    $transparent-light-m,
    $transparent-light-s);
}

.linkContainer {
    margin-block: $gap-m;
    width: 100%;
    display: flex;
    justify-content: center;
}
