@import './colors.scss';

.container {
    width: 100%;
    h1, h2 {
        margin-block: $gap-m;
        text-align: center;
    }
    h2 {
        font-weight: 400;
    }
    display: flex;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top: 6vh;
    padding: $gap-xl 0;
    background: linear-gradient(180deg, 
    $transparent-light-s,
    $transparent-light-l 20% 80%,
    $transparent-light-m,
    $transparent-light-s);
}

.linkContainer {
    margin-block: $gap-m;
    width: 100%;
    display: flex;
    justify-content: center;
}

@media (min-width: 768px) {
    .container {
        display: flex;
        position: initial;
        background: initial;
        margin-top: $gap-xl;
        max-width: 320px;
        margin-left: $gap-m;
    }
}