@import './colors.scss';

.navContainer {
    position: relative;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: $primary;
    color: $text-light;
    z-index: 2;
    padding: 0.5rem 0;
    opacity: 1;
    transition: opacity .6s ease-in-out;
}

.nav {
    display: flex;
    align-items: center;
    width: 95%;
    justify-content: space-between;
}

.navLogo {
    background: 0;
    border: 0;
    cursor: pointer;
    margin: 0rem 0.5rem;
    img {
        margin-bottom: -0.4rem;
    }
}

.navLinks {
    display: none;
    gap: $gap-xl;
    z-index: 1;
    transition: height 0.4s, opacity 0.4s;
    border-bottom: solid transparent 1px;
    a {
        text-decoration: none;
        white-space: nowrap;
        font-size: $font-l;
    }
}

.navLinks > span:hover {
    border-bottom: solid $accent-light 1px;
    transition: .4s;
    cursor: pointer;
    width: fit-content;
}

@mixin mobileLinks {
    display: flex;
    flex-direction: column;
    padding: 0 $gap-l;
    position: absolute;
    background-color: $primary;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;
    a {
        font-size: $font-xl;
    }
}

.navLinksOpen {
    @include mobileLinks();
    height: 100vh;
    opacity: 1;
    z-index: -1;
    padding-top: 5rem;
}

.navLinksClosed {
    @include mobileLinks();
    height: 0;
    opacity: 0;
    z-index: -100;
    padding-top: 5rem;
}

.mobileMenu {
    display: flex;
    background: 0;
    border: 0;
    cursor: pointer;
}

.active {
    border-bottom: solid $accent-light 1px;
    transition: .4s;
    cursor: pointer;
    width: fit-content;
}

.signUp {
    border: solid $accent-light 1px;
    padding: $gap-xs $gap-s;
    position: absolute;
    border-radius: 6px;
    margin-top: 190px;
    &:hover {
        background-color: $accent-light;
        transition: .4s;
        color: $primary;
    }
}

@media (min-width: 768px) {
    .nav {
        flex-direction: row-reverse;
    }
    .mobileMenu { 
        display: none;
    }
    .navLinks { 
        display: flex;
        margin-right: 10rem;
    }
    .navLogo {
        margin-left:-2%;
    }
    .navLinksOpen {
        display: none;
    }
    .navLinksClosed {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0;
        opacity: 1;
        position: initial;
        top: inherit;
        left: inherit;
        width: initial;
        z-index: inherit;
    }
    .signUp {
        right: 3vw;
        top: -9.7rem;
    }
}
