@import './_variables.module.scss';


@mixin container($borderColor,$textColor, $bgColor) {
    border: solid $borderColor 2px;
    max-width: fit-content;
    max-height: min-content;
    color: $textColor;
    border-radius: 6px;
    background-color: $bgColor;
    a {
        height: 100%;
        width: 100%;
        display: block;
        padding: $gap-s $gap-m;
        cursor: pointer;
    }
}

@mixin containerHover($bgColor,$textColor) {
    background-color: $bgColor;
    color: $textColor;
    transition: .4s;
}

.light {
    @include container($primary, $text-dark, $transparent-light-m);
}

.light:hover {
    @include containerHover($primary, $text-light);
}

.dark {
    @include container($accent-light, $text-light, $transparent-tertiary-lg);
}

.dark:hover {
    @include containerHover($accent-light, $text-dark);
}